{% extends 'base.html' %}

{% block content %}
<section class="jumbotron text-center">
        <div class="container">
          <h2 class="jumbotron-heading">Customize Your Meal</h2>
          <p class="lead text-muted">A quick and easy way to find something to eat. Adjust your caloric limit, location, and cuisine type to help you find something you like. App still in development.</p>
          <p>
            <a href="#" id = "findByC" class="btn btn-primary my-2">Find By City</a>
            <a href="#" id = "findByL" class="btn btn-secondary my-2">Find By Location</a>
          </p>
        </div>
        <form id="citySearch" >
            <div class="form-group">
                <label for="exampleFormControlInput1" class="float-left">Your City Name</label>
                <input type="text" class="form-control" id="cityName" placeholder="E.g. Toronto">

                <label for="exampleFormControlInput1" class="float-left">Price Limit</label>
                <input type="number" class="form-control" id="priceUp" placeholder="E.g. 25">
            </div>
            <a href="#" id = "cityGoBtn" class="btn btn-primary my-2 float-left">Go</a>
        </form>

</section>
<a href="#" id = "prevBtn" class="btn btn-primary my-2 float-left sticky">Prev</a>
<a href="#" id = "nextBtn" class="btn btn-primary my-2 float-right sticky">Next</a>
<main role="main">

<div class="album py-5 bg-light">
    <div class="container" >

      <div class="row" id= "screen">

      </div>

     </div>

</div>

<script>
    var handleCuisine = function(NAME){
        //console.log(NAME.id);
        var rn = cuisineChoice.get(cuisineID.get(NAME.id));
        cuisineChoice.set(cuisineID.get(NAME.id),!rn);
        //console.log(cuisineChoice);
    }
    var handleResType = function(NAME){
        //console.log(NAME.id);
        var rn = resTypeChoice.get(resTypeID.get(NAME.id));
        resTypeChoice.set(resTypeID.get(NAME.id),!rn);
        //console.log(resTypeChoice);
    }
    var handleRestaurant = function(NAME){

        list[parseInt(NAME.id)].picked = !list[parseInt(NAME.id)].picked;
        //console.log(list);
    }
    var queryRestaurant = function(NAME){
        //console.log(NAME.id);
    }
</script>

<style >
    #citySearch{
        display:none;
    }
    #prevBtn{
        position:fixed;
    }
    #nextBtn{
        position:fixed;
        right:0;
    }
</style>
{% endblock %}
