{% extends 'base.html' %}

{% block content %}
<section class="jumbotron text-center">
        <div class="container">
          <h2 class="jumbotron-heading">Customize Your Meal</h2>
          <p class="lead text-muted">A quick and easy way to find something to eat. Adjust your location and cuisine type to help you find something you like. App still in development.</p>
          <p>
            <a  id = "findByC" class="btn btn-secondary my-2">Find By City</a>
            <a  id = "findByL" class="btn btn-secondary my-2">Find By Location</a>
          </p>
        </div>
        <form id="citySearch" >
            <div class="form-group">
                <label for="exampleFormControlInput1" class="float-left">Your City Name</label>
                <input type="text" class="form-control" id="cityName" placeholder="E.g. Toronto">

            </div>
            <a id = "cityGoBtn" class="btn btn-primary my-2 float-left">Go</a>
        </form>
        <form id="addressSearch" >
            <div class="form-group">
                <label for="exampleFormControlInput1" class="float-left">Address</label>
                <input type="text" class="form-control" id="addressName" placeholder="E.g. 301 Front St W">

                <label for="exampleFormControlInput1" class="float-left">Max Distance(km)</label>
                <input type="number" class="form-control" id="distanceKM" placeholder="E.g. 25">
            </div>
            <a  id = "locationGoBtn" class="btn btn-primary my-2 float-left">Go</a>
        </form>

</section>
<a  id = "prevBtn" class="btn btn-primary my-2 float-left sticky">.</a>
<a  id = "nextBtn" class="btn btn-primary my-2 float-right sticky">.</a>
<main role="main">

<div class="album py-5 bg-light">
    <div class="container" >

      <div class="row" id= "screen">

      </div>

     </div>

</div>

<script>
    var handleCuisine = function(NAME){
        //console.log(NAME.id);
        var rn = cuisineChoice.get(cuisineID.get(NAME.id));
        cuisineChoice.set(cuisineID.get(NAME.id),!rn);
        //console.log(cuisineChoice);
    }
    var handleResType = function(NAME){
        //console.log(NAME.id);
        var rn = resTypeChoice.get(resTypeID.get(NAME.id));
        resTypeChoice.set(resTypeID.get(NAME.id),!rn);
        //console.log(resTypeChoice);
    }
    var handleRestaurant = function(NAME){

        list[parseInt(NAME.id)].picked = !list[parseInt(NAME.id)].picked;
        //console.log(list);
    }
    var queryRestaurant = function(NAME){
        state++;
        console.log(NAME.id);
        $("#screen").html("");
    }
</script>

<style >
    #citySearch{
        display:none;
    }
    #addressSearch{
        display:none;
    }
    #prevBtn{
        position:fixed;
        display:none;
        background:url("https://cdn4.iconfinder.com/data/icons/basic-user-interface-elements/700/left-arrow-back-256.png");
        background-size:100%;
        border:none;
    }
    #nextBtn{
        position:fixed;
        display:none;
        right:0;
        background:url("https://cdn4.iconfinder.com/data/icons/basic-user-interface-elements/700/right-forward-arrow-256.png");
        background-size:100%;
        border:none;
    }
</style>
{% endblock %}
